#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/rgb_colors.h>


/* Layer Definitions */
#define LAYER_Base   0
#define LAYER_Mixed  1
#define LAYER_Hebrew 2
#define LAYER_Mouse  3
#define LAYER_Magic  4


&cirque_lh_listener {
    input-processors = <&zip_xy_scaler 4 15>,
                       <&zip_xy_to_scroll_mapper>,
                       <&zip_temp_layer 3 500>;
};


&cirque_rh_listener {
    input-processors = <&zip_xy_scaler 3 1>,
                       <&zip_temp_layer 3 500>;
};


/ {
macros {

/* Toggle Mixed layer */
num_toggle: num_toggle {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings = <&macro_tap &tog 1>;
};

/* Toggle Hebrew layer + OS language switch */
heb_toggle: heb_toggle {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <50>;
    tap-ms = <50>;
    bindings
    = <&macro_tap &tog 2>
    , <&macro_tap &kp LA(LSHFT)>
    ;
};
};


keymap {
compatible = "zmk,keymap";

layer_Base {
bindings = <
&kp EQUAL    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp N6    &kp N7    &kp N8    &kp N9     &kp N0    &kp MINUS
&kp TAB      &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O      &kp P     &kp BSLH
&kp ESC      &kp A     &kp S     &kp D     &kp F     &kp G     &kp H     &kp J     &kp K     &kp L      &kp SEMI  &kp SQT
&heb_toggle  &kp Z     &kp X     &kp C     &kp V     &kp B     &kp N     &kp M     &kp COMMA &kp DOT    &kp FSLH  &tog 4
&kp GRAVE    &kp DEL   &kp BSPC  &kp LGUI  &kp LBKT  &kp RBKT
&num_toggle  &kp LSHFT &kp LCTRL &kp BSPC  &mt PSCRN SPACE  &mt RALT RET
>;
};

layer_Mixed {
bindings = <
&trans      &kp F1     &kp F2     &kp F3     &kp F4     &kp F5     &kp F6        &kp F7        &kp F8        &kp F9        &kp F10         &kp F11
&trans      &trans     &kp HOME   &kp UP     &kp END    &kp PG_UP  &kp KP_N7     &kp KP_N8     &kp KP_N9     &kp KP_SLASH  &kp KP_MULTIPLY &kp F12
&trans      &trans     &kp LEFT   &kp DOWN   &kp RIGHT  &kp PG_DN  &kp KP_N4     &kp KP_N5     &kp KP_N6     &kp KP_MINUS  &kp KP_PLUS     &kp KP_NUM
&trans      &trans     &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp KP_N1     &kp KP_N2     &kp KP_N3     &kp KP_ENTER  &trans          &trans
&trans      &trans     &trans     &trans     &trans     &trans
&num_toggle &kp LSHFT  &kp LCTRL  &kp KP_N0  &kp KP_DOT &mt RALT RET
>;
};

layer_Hebrew {
bindings = <
&trans       &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans    &trans   &trans    &trans
&trans       &kp Q   &kp W   &kp E   &kp R   &kp T   &kp Y   &kp U    &kp I     &kp O    &kp P     &trans
&trans       &kp A   &kp S   &kp D   &kp F   &kp G   &kp H   &kp J    &kp K     &kp L    &kp SEMI  &trans
&heb_toggle  &kp Z   &kp X   &kp C   &kp V   &kp B   &kp N   &kp M    &kp COMMA &kp DOT  &kp FSLH  &trans
&trans       &trans      &trans    &trans    &trans    &trans
&num_toggle  &kp LSHFT   &kp LCTRL &kp BSPC  &mt PSCRN SPACE  &mt RALT RET
>;
};

layer_Mouse {
bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans
&mkp LCLK  &mkp MCLK  &mkp RCLK  &trans  &trans  &trans
>;
};

layer_Magic {
bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans          &trans           &trans           &trans           &trans           &bootloader
&trans      &out OUT_BLE  &out OUT_USB  &trans        &trans        &trans        &rgb_ug RGB_ON  &rgb_ug RGB_OFF  &rgb_ug RGB_EFF  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &trans
&trans      &trans        &trans        &trans        &trans        &trans        &trans          &trans           &trans           &trans           &trans           &trans
&trans      &trans        &trans        &trans        &trans        &trans        &trans          &trans           &trans           &trans           &trans           &tog 4
&trans      &trans        &trans        &trans        &trans        &trans
&trans      &trans        &trans        &trans        &trans        &trans
>;
};
};


#if __has_include(<dt-bindings/zmk/rgb_colors.h>)

  #define ORN &ug 0xFF8000
  #define GRN &ug 0x00FF00
  #define BLU &ug 0x0000FF
  #define CYN &ug 0x00FFFF
  #define YLW &ug 0xFFFF00
  #define ___ &ug 0x000000

  / {
    underglow-layer {
      compatible = "zmk,underglow-layer";

      #ifdef LAYER_Base
      Base {
        layer-id = <LAYER_Base>;
        fade-delay = <-1>;
        bindings = <
          ___ ___ ___ ___ ___ ___     ___ ___ ___ ___ ___ ___
          ___ ___ ___ ___ ___ ___     ___ ___ ___ ___ ___ ___
          ___ ___ ___ ___ ___ ___     ___ ___ ___ ___ ___ ___
          ___ ___ ___ ___ ___ ___     ___ ___ ___ ___ ___ ___
                  ___ ___ ___                 ___ ___ ___
                           ___ ___ ___   ___ ___ ___
        >;
      };
      #endif

      #ifdef LAYER_Mixed
      Mixed {
        layer-id = <LAYER_Mixed>;
        fade-delay = <-1>;
        bindings = <
          ___ ___ ___ ___ ___ ___     ___ ___ ___ ___ ___ ___
          ___ ___ ___ ORN ___ ___     BLU BLU BLU CYN CYN ___
          ___ ___ ORN ORN ORN ___     BLU BLU BLU CYN CYN ___
          ___ ___ ___ ___ ___ ___     BLU BLU BLU CYN ___ ___
                  ___ ___ ___                 ___ ___ ___
                           ___ ___ ___   BLU BLU ___
        >;
      };
      #endif

      #ifdef LAYER_Hebrew
      Hebrew {
        layer-id = <LAYER_Hebrew>;
        fade-delay = <-1>;
        bindings = <
          ___ ___ ___ ___ ___ ___     ___ ___ ___ ___ ___ ___
          ___ ___ ___ ___ ___ ___     ___ ___ ___ ___ ___ ___
          ___ ___ ___ ___ ___ ___     ___ ___ ___ ___ ___ ___
          GRN ___ ___ ___ ___ ___     ___ ___ ___ ___ ___ ___
                  ___ ___ ___                 ___ ___ ___
                           ___ ___ ___   ___ ___ ___
        >;
      };
      #endif

      #ifdef LAYER_Mouse
      Mouse {
        layer-id = <LAYER_Mouse>;
        fade-delay = <5>;
        bindings = <
          ___ ___ ___ ___ ___ ___     ___ ___ ___ ___ ___ ___
          ___ ___ ___ ___ ___ ___     ___ ___ ___ ___ ___ ___
          ___ ___ ___ ___ ___ ___     ___ ___ ___ ___ ___ ___
          ___ ___ ___ ___ ___ ___     ___ ___ ___ ___ ___ ___
                  ___ ___ ___                 ___ ___ ___
                           YLW YLW YLW   ___ ___ ___
        >;
      };
      #endif

    };
  };

  #undef ORN
  #undef GRN
  #undef BLU
  #undef CYN
  #undef YLW
  #undef ___

#endif
