#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>


/* Layer Definitions */
#define LAYER_Base     0
#define LAYER_Mixed    1
#define LAYER_Hebrew   2
#define LAYER_Mouse    3
#define LAYER_Magic    4
#define LAYER_HebMixed 5


&cirque_lh_listener {
    input-processors = <&zip_xy_scaler 4 15>,
                       <&zip_xy_to_scroll_mapper>,
                       <&zip_temp_layer 3 200>;
};


&cirque_rh_listener {
    input-processors = <&zip_xy_scaler 3 1>,
                       <&zip_temp_layer 3 200>;
};


/ {

conditional_layers {
    compatible = "zmk,conditional-layers";
    hebrew_and_mixed {
        if-layers = <1 2>;
        then-layer = <5>;
    };
};

macros {

/* Base → Mixed ON: blue */
num_blue: num_blue {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings
    = <&macro_tap &tog 1>
    , <&macro_tap &rgb_ug RGB_ON>
    , <&macro_tap &rgb_ug RGB_COLOR_HSB(240,100,50)>
    ;
};

/* Mixed → Base: RGB off */
num_exit: num_exit {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings
    = <&macro_tap &tog 1>
    , <&macro_tap &rgb_ug RGB_OFF>
    ;
};

/* Hebrew → Mixed ON: blue */
num_heb_enter: num_heb_enter {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings
    = <&macro_tap &tog 1>
    , <&macro_tap &rgb_ug RGB_ON>
    , <&macro_tap &rgb_ug RGB_COLOR_HSB(240,100,50)>
    ;
};

/* Hebrew+Mixed → Hebrew only: green */
num_heb_exit: num_heb_exit {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings
    = <&macro_tap &tog 1>
    , <&macro_tap &rgb_ug RGB_ON>
    , <&macro_tap &rgb_ug RGB_COLOR_HSB(120,100,50)>
    ;
};

/* Hebrew ON: Alt+Shift + green */
heb_on: heb_on {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings
    = <&macro_tap &tog 2>
    , <&macro_press &kp LALT>
    , <&macro_tap &kp LSHFT>
    , <&macro_release &kp LALT>
    , <&macro_tap &rgb_ug RGB_ON>
    , <&macro_tap &rgb_ug RGB_COLOR_HSB(120,100,50)>
    ;
};

/* Hebrew OFF from Base: Alt+Shift + RGB off */
heb_off: heb_off {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings
    = <&macro_tap &tog 2>
    , <&macro_press &kp LALT>
    , <&macro_tap &kp LSHFT>
    , <&macro_release &kp LALT>
    , <&macro_tap &rgb_ug RGB_OFF>
    ;
};

/* Hebrew+Mixed → Mixed only: stays blue */
heb_off_mixed: heb_off_mixed {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings
    = <&macro_tap &tog 2>
    , <&macro_press &kp LALT>
    , <&macro_tap &kp LSHFT>
    , <&macro_release &kp LALT>
    , <&macro_tap &rgb_ug RGB_ON>
    , <&macro_tap &rgb_ug RGB_COLOR_HSB(240,100,50)>
    ;
};
};


keymap {
compatible = "zmk,keymap";

layer_Base {
bindings = <
&kp EQUAL  &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp N6    &kp N7    &kp N8    &kp N9     &kp N0    &kp MINUS
&kp TAB    &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O      &kp P     &kp BSLH
&kp ESC    &kp A     &kp S     &kp D     &kp F     &kp G     &kp H     &kp J     &kp K     &kp L      &kp SEMI  &kp SQT
&heb_on    &kp Z     &kp X     &kp C     &kp V     &kp B     &kp N     &kp M     &kp COMMA &kp DOT    &kp FSLH  &tog 4
&kp GRAVE  &kp DEL   &kp BSPC  &kp LGUI  &kp LBKT  &kp RBKT
&num_blue  &kp LSHFT &kp LCTRL &kp BSPC  &mt PSCRN SPACE  &mt RALT RET
>;
};

layer_Mixed {
bindings = <
&trans     &kp F1     &kp F2     &kp F3     &kp F4     &kp F5     &kp F6    &kp F7        &kp F8        &kp F9        &kp F10          &kp F11
&trans     &trans     &kp HOME   &kp UP     &kp END    &kp PG_UP  &kp KP_N7 &kp KP_N8     &kp KP_N9     &kp KP_MINUS  &kp KP_SLASH     &kp F12
&trans     &trans     &kp LEFT   &kp DOWN   &kp RIGHT  &kp PG_DN  &kp KP_N4 &kp KP_N5     &kp KP_N6     &kp KP_PLUS   &kp KP_MULTIPLY  &kp KP_NUM
&trans     &trans     &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp KP_N1 &kp KP_N2     &kp KP_N3     &kp KP_ENTER  &kp EQUAL        &trans
&trans     &trans     &trans     &trans     &kp KP_DOT &trans
&num_exit  &kp LSHFT  &kp LCTRL  &kp KP_N0  &mt PSCRN SPACE  &mt RALT RET
>;
};

layer_Hebrew {
bindings = <
&trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans    &trans   &trans    &trans
&trans    &kp Q   &kp W   &kp E   &kp R   &kp T   &kp Y   &kp U    &kp I     &kp O    &kp P     &trans
&trans    &kp A   &kp S   &kp D   &kp F   &kp G   &kp H   &kp J    &kp K     &kp L    &kp SEMI  &trans
&heb_off  &kp Z   &kp X   &kp C   &kp V   &kp B   &kp N   &kp M    &kp COMMA &kp DOT  &kp FSLH  &trans
&trans         &trans    &trans    &trans    &trans    &trans
&num_heb_enter &kp LSHFT &kp LCTRL &kp BSPC  &mt PSCRN SPACE  &mt RALT RET
>;
};

layer_Mouse {
bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans
&mkp LCLK  &mkp MCLK  &mkp RCLK  &trans  &trans  &trans
>;
};

layer_Magic {
bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans  &trans  &trans  &trans  &trans  &bootloader
&trans      &out OUT_BLE  &out OUT_USB  &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &tog 4
&trans      &trans        &trans        &trans        &trans        &trans
&trans      &trans        &trans        &trans        &trans        &trans
>;
};

layer_HebMixed {
bindings = <
&trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&heb_off_mixed  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans       &trans    &trans    &trans    &trans
&num_heb_exit   &kp LSHFT    &kp LCTRL &kp BSPC  &mt PSCRN SPACE  &mt RALT RET
>;
};
};
};
