#include <behaviors.dtsi>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/pointing.h>

/* Layer Definitions */
#define LAYER_Base 0
#define LAYER_Mixed 1
#define LAYER_Hebrew 2
#define LAYER_Mouse 3
#define LAYER_Magic 4

/ {
    macros {
        /* Macro: Holds Layer 1 AND triggers Blue RGB on the right side */
        num_blue: num_blue {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&macro_press &mo 1>, <&macro_tap &rgb_ug RGB_COLOR_HSB(240,100,50)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_Base {
            bindings = <
&kp EQUAL  &kp N1     &kp N2   &kp N3    &kp N4  &kp N5                                         &kp N6    &kp N7     &kp N8    &kp N9    &kp N0         &kp MINUS
&kp TAB    &kp Q      &kp W    &kp E     &kp R   &kp T                                          &kp Y     &kp U      &kp I     &kp O     &kp P          &kp BSLH
&kp ESC    &kp A      &kp S    &kp D     &kp F   &kp G                                          &kp H     &kp J      &kp K     &kp L     &kp SEMI       &kp SQT
&tog 2     &kp Z      &kp X    &kp C     &kp V   &kp B                                          &kp N     &kp M      &kp COMMA &kp DOT   &kp FSLH       &tog 4
                      &kp GRAVE &kp DEL  &kp BSPC                                               &kp LGUI  &kp LBKT   &kp RBKT
                                         &num_blue &kp LSHFT  &kp LCTRL  &kp BSPC  &mt PSCRN SPACE  &mt RALT RET
            >;
        };

        layer_Mixed {
            bindings = <
&trans     &kp F1     &kp F2     &kp F3     &kp F4     &kp F5                                   &kp F6     &kp F7     &kp F8     &kp F9     &kp F10    &kp F11
&trans     &kp HOME   &kp UP     &kp END    &kp PG_UP  &trans                                   &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_MINUS &kp KP_SLASH &kp F12
&trans     &kp LEFT   &kp DOWN   &kp RIGHT  &kp PG_DN  &trans                                   &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_PLUS  &kp KP_MULTIPLY &kp KP_NUM
&trans     &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &trans                                   &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_ENTER &kp EQUAL  &trans
                      &trans     &trans     &trans                                              &kp KP_N0  &kp KP_DOT &trans
                                            &trans     &trans     &trans     &trans     &trans     &trans
            >;
        };

        layer_Hebrew {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                                         &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp Q   &kp W   &kp E   &kp R   &kp T                                          &kp Y   &kp U   &kp I   &kp O   &kp P   &trans
&trans  &kp A   &kp S   &kp D   &kp F   &kp G                                          &kp H   &kp J   &kp K   &kp L   &kp SEMI &trans
&tog 2  &kp Z   &kp X   &kp C   &kp V   &kp B                                          &kp N   &kp M   &kp COMMA &kp DOT &kp FSLH &trans
                        &trans  &trans  &trans                                         &trans  &trans  &trans
                                        &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_Mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                                         &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                                         &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                                         &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                                         &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans                                                 &trans  &trans  &trans
                                &mkp LCLK  &mkp MCLK  &mkp RCLK  &trans  &trans  &trans
            >;
        };

        layer_Magic {
            bindings = <
&bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                &trans  &trans  &trans  &trans  &trans  &bootloader
&trans     &out OUT_BLE &out OUT_USB &trans       &trans       &trans                      &trans  &trans  &trans  &trans  &trans  &trans
&trans     &trans       &trans       &trans       &trans       &trans                      &trans  &trans  &trans  &trans  &trans  &trans
&trans     &trans       &trans       &trans       &trans       &trans                      &trans  &trans  &trans  &trans  &trans  &tog 4
                        &trans       &trans       &trans                                   &trans  &trans  &trans
                                                  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};